[board_pins btt_kraken_Pins] 
aliases:
aliases_step:
    Y_DIR=PC13 , Y_STEP=PC14 , Y_EN=PE6 , Y_CS=PD6 , Y_DIAG=PC15 ,
    Y1_DIR=PE4 , Y1_STEP=PE5 , Y1_EN=PE3 , Y1_CS=PD5 , Y1_DIAG=PF0 ,
    X_DIR=PE1 , X_STEP=PE2 , X_EN=PE0 , X_CS=PD4 , X_DIAG=PF1 ,
    X1_DIR=PB8 , X1_STEP=PB9 , X1_EN=PB7 , X1_CS=PD3 , X1_DIAG=PF2 ,    
    
    Z_DIR=PG10 , Z_STEP=PG9 , Z_EN=PG13 , Z_CS=PD2 , Z_DIAG=PF3 ,
    Z1_DIR=PD7 , Z1_STEP=PG11 , Z1_EN=PG12 , Z1_CS=PA15 , Z1_DIAG=PF4 ,
    Z2_DIR=PB3 , Z2_STEP=PB4 , Z2_EN=PB5 , Z2_CS=PA9 , Z2_DIAG=PF10 ,
    Z3_DIR=PB6 , Z3_STEP=PG15 , Z3_EN=PG14 , Z3_CS=PA10 , Z3_DIAG=PC0

aliases_limitsw:
    MCU_ENDSTOP1=PC15 , 
    MCU_ENDSTOP2=PF0 , 
    MCU_ENDSTOP3=PF1 ,
    MCU_ENDSTOP4=PF2 ,
    MCU_ENDSTOP5=PF3 , 
    MCU_ENDSTOP6=PF4 ,
    MCU_ENDSTOP7=PF10 ,
    MCU_ENDSTOP8=PC0
aliases_probes:
    BLSENSOR=PG1 ,
    BLCONTROL=PE9
aliases_fans:
    FILTER_FAN=PA0 , 
    BED_FAN=PA1 , 
    MCU_FAN0=PA2 , 
    MCU_FAN1=PA3 , 
    DRIVER_FAN=PA4 ,
    PI_FAN=PA5 ,
    FAN6=PA6 , FAN6_TACH=PC1 ,
    FAN7=PE8 , FAN7_TACH=PG0
aliases_thermistors:
    BED_TEMP=PB0 ,
    CHAMBER_TEMP=PB1 ,
    THE1=PC5 ,
    THE2=PC4 ,
    THE3=PA7 
aliases_heaters:
    BED_HEATER=PF6 ,
    HE1=PF7 ,
    HE2=PF9 ,
    HE3=PF8
aliases_rgb:
    CHAMBER_RGB=PF12 ,
    RGB2=PF11
    CHAMBER_LED=PF7
aliases_i2c:
    SCL= PB10 ,
    SDA= PB11
aliases_spi:
    MISO=PC7 , 
    MOSI=PC8 , 
    SCLK=PC6 
aliases_can:
    CAN_TX=PD1 ,
    CAN_RX=PD0
aliases_misc:
    PS_ON=PD10 , 
   aliases:
    # EXP1 header
    EXP1_1=PG5 , EXP1_2=PG4 ,
    EXP1_3=PG3 , EXP1_4=PG2 ,
    EXP1_5=PD15 , EXP1_6=PD14 ,    # Slot in the socket on this side
    EXP1_7=PD13 , EXP1_8=PD12 ,
    EXP1_9=<GND> , EXP1_10=<5V> ,

    # EXP2 header
    EXP2_1=PE13 , EXP2_2=PE12 ,
    EXP2_3=PG8 , EXP2_4=PE11 ,
    EXP2_5=PG7 , EXP2_6=PE14 ,      # Slot in the socket on this side
    EXP2_7=PG6 , EXP2_8=<RST> ,
    EXP2_9=<GND> , EXP2_10=<NC>
